@font-face {
  font-family: 'Grechen';
  src: url('./fonts/GrechenFuemen/GrechenFuemen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit/Kanit-Medium.ttf') format('truetype');
 
  font-style: normal;
}
@font-face {
  font-family: 'KanitD';
  src: url('./fonts/Kanit/Kanit-ExtraLight.ttf') format('truetype');
 
  font-style: normal;
}


body,h2 {
  font-family: 'Kanit', sans-serif;
}
h1,.game-title {
  font-family: 'Grechen', sans-serif;
  font-weight: bold;
}

.success-message {
  background:transparent;
  color: #000000; /* Texto blanco para contraste */
  padding: 12px 16px;

  font-size: 32px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Ajusta según el tamaño de la pantalla */
}


/* Fondo transparente del contenedor */
.container {
  font-family: 'Kanit', sans-serif;
  background-color: transparent !important;
  padding: 20px;
  min-height: 105vh;
}
.card {
  background-color: transparent !important; /* Fondo transparente */
  border: none !important; /* Eliminar el borde */
  box-shadow: none !important; /* Eliminar la sombra */
}

.card-content {
  background-color: transparent !important; /* Fondo transparente */
}

.position-relative {
  width: 150%; /* Ocupa el 100% del ancho del contenedor padre */
  max-width: 100%; /* Ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
}
.vehicle-image {
  width: 150% !important;
  max-height: 400px !important;
  border-radius: 10px !important;
  margin: 20px auto !important;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden; /* Oculta las partes que sobresalgan */
}

/* Separación entre la imagen y el campo de entrada */
.input-container { /* Igual que el ancho de la imagen */
  margin: 0 auto; 
  margin-top: 20px;
  text-align: center; /* Alinear contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Estilos para el campo de entrada */
.input-field {
  font-size: 1rem;
  padding: 1rem;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;
  align-items: center;
}


.input-field.error {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.input-field.success {
  background-color: #d4edda;
  border-color: #28a745;
}

/* Tamaño normal del botón de adivinar */
.hint-button{
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ffc40077 !important;
  color: black;
  border:1px solid yellow !important;
  max-width: 50%;
  margin-left: 0; 
  margin-right: 0;
}
.guess-button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  border:1px solid black !important ;
  max-width: 50%;
  margin-left: 0; 
  margin-right: 0;
}

.guess-button:hover {
  background-color: #f1f1f1 !important; /* Color del botón primario al pasar el mouse */
  border-color: #7a7a7a !important;
}

.guess-button:disabled{
  background-color: #ecebeb !important;
  color:gray !important;
}
/* Input Feedback Styles */
input.success {
  background-color: #d4edda; /* Light green */
  border-color: #28a745;   /* Green border */
  animation: success-check 0.8s ease-out forwards;
}

input.error {
  background-color: #f8d7da; /* Light red */
  border-color: #dc3545;    /* Red border */
  animation: vibrate 0.3s linear;
}



@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

@keyframes success-check {
  0% {
    background-color: #d4edda;
    border-color: #28a745;
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* Spinner Centering */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-border {
  color: #007bff; /* Primary color */
}

/* Success Message */
.bg-success {
  background-color: #28a745 !important;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Lista de intentos fallidos */
.intentos-fallidos {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  max-height: 150px;
  overflow-y: auto;
  text-align: center;
}

.intentos-fallidos li {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #495057;
}

.intentos-fallidos li:last-child {
  margin-bottom: 0;
}

.intentos-fallidos li:hover {
  background-color: #e9ecef;
}

/* Lista de colores en fallos */
.fallido {
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.fallido.custom-bg-warning-light {
  border: 1px solid rgb(169, 214, 7);
  background-color: rgb(238, 255, 176) !important;
  color: black !important;
}

.fallido.custom-bg-orange {
  border: 1px solid #b9b600;
  background-color: #fcfaa3 !important;
  color: black !important;
}

.fallido.custom-bg-orange-dark {
  border: 1px solid #ffa600;
  background-color: #fce69e !important;
  color: black !important;
}

.fallido.custom-bg-danger {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: black !important;
}

/* Estilos para las flechas de imagen */
.btn-secondary {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.position-absolute {
  z-index: 10;
}


/*Puntos de navegacion*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fdfdfd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  border: 1px solid #444444;
}

.dot.active {
  background-color: #000000;
}

.dot:hover {
  background-color: #3a3a3a;
}

/* Dark Theme Styles */
.dark-theme {
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

.dark-theme .card {
  background-color: transparent !important; /* Fondo transparente */
}

.dark-theme .input-field {
  background-color: #333; /* Fondo oscuro para inputs */
  color: #fff; /* Texto blanco */
  border: 1px solid #555; /* Borde más claro */
}

.dark-theme .input-field::placeholder {
  color: #aaa; /* Color del placeholder */
}
/* Estilos para el tema oscuro */
.dark-theme .input-field {
  background-color: #333; /* Fondo oscuro para inputs */
  color: #fff; /* Texto blanco */
  border: 1px solid #555; /* Borde más claro */
}

.dark-theme .input-field::placeholder {
  color: #aaa; /* Color del placeholder */
}

/* Estilos para el campo de entrada cuando está enfocado */
.dark-theme .input-field:focus {
  background-color: #333; /* Mantener el fondo oscuro */
  color: #fff; /* Mantener el texto blanco */
  border: 1px solid #ffffff; /* Mantener el borde más claro */
  outline: none; /* Eliminar el contorno predeterminado del navegador */
  box-shadow: none; /* Eliminar cualquier sombra predeterminada */
}
.dark-theme .guess-button {
  background-color: #0c0c0c !important; /* Fondo oscuro para botones */
  color: #ffffff !important ; /* Texto blanco */
  border: 1px solid #ffffff !important; /* Borde más claro */
}

.dark-theme .guess-button:hover {
  background-color: #555 !important; /* Fondo más claro al pasar el ratón */
}

.dark-theme .guess-button:disabled {
  background-color: #1a1a1a; /* Un gris oscuro para indicar desactivado */
  color: #777777; /* Texto más apagado */
  border: 1px solid #444444; /* Borde más sutil */
  cursor: not-allowed; /* Cambia el cursor para mostrar que no es clickeable */
  opacity: 0.6; /* Reduce la opacidad para diferenciarlo */
}

.dark-theme .failed-attempts {
  background-color: transparent; /* Fondo oscuro para la lista de intentos fallidos */
   /* Borde más claro */
}

.dark-theme .intentos-fallidos li {
  background-color: transparent; /* Fondo oscuro para los elementos de la lista */
  border: 1px solid #555; /* Borde más claro */
  color: #fff; /* Texto blanco */
}

.dark-theme .fallido.custom-bg-danger {
  background-color: #352224;
  border-color: #dc3545;
  color: rgb(255, 255, 255) !important;
}

.dark-theme .fallido.custom-bg-warning-light {
  border: 1px solid rgb(200, 255, 0);
  background-color: rgb(45, 58, 0) !important;
  color: rgb(255, 255, 255) !important;
}

.dark-theme .fallido.custom-bg-orange {
  border: 1px solid #fffb00;
  background-color: #2c2b00 !important;
  color: rgb(255, 255, 255) !important;
}

.dark-theme .fallido.custom-bg-orange-dark {
  border: 1px solid #ffa600;
  background-color: #302500 !important;
  color: rgb(255, 255, 255) !important;
}

.dark-theme .input-field.error{
  color:rgb(255, 255, 255);
  background-color: #352224;
}


.dark-theme .intentos-fallidos li:hover {
  background-color: #444; /* Fondo más claro al pasar el ratón */
}

.dark-theme .hint {
  background-color: #444; /* Fondo oscuro para las pistas */
  color: #fff; /* Texto blanco */
  border: 1px solid #555; /* Borde más claro */
}


.dark-theme .success-message h2 {
  color: #4caf50; /* Color verde para el título de éxito */
}

.dark-theme .success-image {
  border: 2px solid #555; /* Borde más claro para la imagen de éxito */
}

.dark-theme .spinner-container {
  background-color: #1a1a1a; /* Fondo oscuro para el spinner */
}

.dark-theme .spinner {
  border-color: #fff transparent transparent transparent; /* Color del spinner */
}

.dark-theme .title-container {
  color:white;
}
.dark-theme .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  border: 1px solid #444444;
}

.dark-theme .dot.active {
  background-color: #ffffff;
}

.dark-theme .dot:hover {
  background-color: #a7a7a7;
}
.dark-theme .success-message{
  color: white;
}
.title-container {
  text-align: center;
  padding: 5px; /* Espaciado interno */
  margin-top: -20px;
  margin-bottom: -35px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  margin-top: -5px;
}

.resultado-container {
  display: flex;
  flex-direction: row; /* Mantiene los elementos en fila */
  gap: 5px; /* Espacio entre los elementos */
  flex-wrap: wrap;
  margin-bottom: 10px;
  
}
.dark-theme .resultado-container {
  display: flex;
  flex-direction: row; /* Mantiene los elementos en fila */
  gap: 5px; /* Espacio entre los elementos */
  flex-wrap: wrap;
  margin-bottom: -18px;
  
}
.resultado-adivinado{
  font-family: 'KanitD';
  margin-bottom: -15px;
  color: rgb(0, 0, 0);
  background-color: #bfffbc;
  border:2px solid #0ad100;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
  white-space: nowrap; 
}
.dark-theme .resultado-adivinado {
  font-family: 'KanitD';
  margin-bottom: -15px;
  color: white;
  background-color: #142713;
  border:2px solid #09af00;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
  white-space: nowrap; /* Evita saltos de línea dentro del div */
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .resultado-adivinado {
    width: 100%;
    margin-bottom: -12px;
    margin-top: 8px;
  }
  .resultado-container {
    gap: 0px;
    padding-bottom: 4px !important;
    margin-bottom: -18px;
  }
}

@media screen and (max-width: 430px) and (max-height: 932px) {
  .intentos-fallidos {
    max-height: 250px; 
    font-size: 1rem; 
  }
}

.guess-button{
  flex: 1;
  min-width: 0;
  height: 45px; /* Ajusta según sea necesario */
}


.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Contenedor del grupo de entrada y botón */
.input-group {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 10px; /* Espacio entre el input y el botón */
  width: 100%;
  margin-top: -17px; /* Ocupa todo el ancho disponible */
}

/* Contenedor del campo de entrada */
.input-container {
  flex: 1; /* Ocupa el espacio restante (90%) */
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el campo de entrada */
.input-field {
  font-size: 1rem;
  padding: 1rem;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;
  align-items: center;
  height: 45px; /* Misma altura que el botón */
}

.input-field.error {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.input-field.success {
  background-color: #d4edda;
  border-color: #28a745;
}

/* Estilos básicos del botón de pista (mantén estos) */
.hint-button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px !important;
  background-color: #ffc40077 !important;
  color: black;
  border: 1px solid yellow !important;
  height: 45px;
  width: 10% !important;
  min-width: 80px;
  flex-shrink: 0;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Nueva transición */
}

/* Botón desactivado */
.hint-button:disabled {
  background-color: #e9ecef !important; /* Fondo gris */
  border-color: #ced4da !important; /* Borde gris */
}

/* Estilo de la bombilla cuando el botón está desactivado */
.hint-button:disabled .text-muted {
  color: #6c757d; /* Color gris para la bombilla */
}

/* Botón activado */
.hint-button:not(:disabled) {
  background-color: #ffefbe !important;  /* Fondo amarillo */
  border-color: hsl(45, 100%, 69%) !important; /* Borde amarillo */
  animation: button-pop 0.3s ease; /* Animación al activarse */
}

.dark-theme .hint-button:not(:disabled){
  background-color: #271900 !important;
}
/* Animación de "pop" para el botón */
@keyframes button-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilo base para el ícono de la bombilla */
.text-warning {
  color: #ffc107; /* Color amarillo */
  transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

/* Animación de brillo */
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 193, 7, 0));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 193, 7, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 193, 7, 0));
  }
}

/* Aplica la animación cuando el ícono tiene la clase .text-warning */
.text-warning.active {
  animation: glow 1.5s infinite; /* Brillo continuo */
  transform: scale(1.1); /* Ligero aumento de tamaño */
}


/* Estilos para el botón de Políticas de Privacidad */
.privacy-policy-button {
  font-family: 'Kanit', sans-serif; /* Aplicar la fuente Kanit */
  font-size: 14px; /* Tamaño de la fuente */
  font-weight: 200;/* Peso de la fuente (Medium) */
  color: inherit; /* Heredar el color del texto del tema */
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  padding: 0; /* Sin padding */
  cursor: pointer; /* Cambiar el cursor al pasar el mouse */
  transition: color 0.3s ease; /* Transición suave para el color */
  text-decoration: none; /* Sin subrayado */
}

/* Estilos para el tema claro */
.privacy-policy-button.light-theme {
  color: #000000; /* Color azul para el tema claro */
}

.privacy-policy-button.light-theme:hover {
  color: #919191; /* Color azul más oscuro al pasar el mouse */
}

/* Estilos para el tema oscuro */
.privacy-policy-button.dark-theme {
  color: #fff; /* Color blanco para el tema oscuro */
}

.privacy-policy-button.dark-theme:hover {
  color: #ccc; /* Color gris claro al pasar el mouse */
}